---
http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/books/v3/lists.json?api-key=Gl45W6AShnATRDWJbygA1ZYGqetQYoQp&list=paperback-nonfiction
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","copyright":"Copyright (c) 2020 The New York Times Company.  All
        Rights Reserved.","num_results":15,"last_modified":"2020-07-01T23:39:01-04:00","results":[{"list_name":"Paperback
        Nonfiction","display_name":"Paperback Nonfiction","bestsellers_date":"2020-06-27","published_date":"2020-07-12","rank":1,"rank_last_week":1,"weeks_on_list":95,"asterisk":0,"dagger":0,"amazon_product_url":"https:\/\/www.amazon.com\/White-Fragility-People-About-Racism\/dp\/0807047414?tag=NYTBS-20","isbns":[{"isbn10":"0807047414","isbn13":"9780807047415"},{"isbn10":"0807047422","isbn13":"9780807047422"},{"isbn10":"197492341X","isbn13":"9781974923410"},{"isbn10":"1974923401","isbn13":"9781974923403"}],"book_details":[{"title":"WHITE
        FRAGILITY","description":"Historical and cultural analyses on what causes
        defensive moves by white people and how this inhibits cross-racial dialogue.","contributor":"by
        Robin DiAngelo","author":"Robin DiAngelo","contributor_note":"","price":0,"age_group":"","publisher":"Beacon","primary_isbn13":"9780807047415","primary_isbn10":"0807047414"}],"reviews":[{"book_review_link":"","first_chapter_link":"","sunday_review_link":"","article_chapter_link":""}]},{"list_name":"Paperback
        Nonfiction","display_name":"Paperback Nonfiction","bestsellers_date":"2020-06-27","published_date":"2020-07-12","rank":2,"rank_last_week":5,"weeks_on_list":6,"asterisk":0,"dagger":0,"amazon_product_url":"https:\/\/www.amazon.com\/Stamped-Beginning-Definitive-History-National\/dp\/1568584636?tag=NYTBS-20","isbns":[{"isbn10":"1568584636","isbn13":"9781568584638"},{"isbn10":"1568585985","isbn13":"9781568585987"},{"isbn10":"1568584644","isbn13":"9781568584645"}][...]
